<div class="container">
  <div class="row vertical-offset-50">
    <div class="col-md-4">
      <h4>User list</h4>
      <hr />
      <ul class="list-group">
        <a class="list-group-item" ng-repeat="user in userList" ng-click="setMap($index)">
          <h4 class="list-group-item-heading">{{user.name}} {{user.lastname}}</h4>
          <span class="label label-primary">{{user.type}}</span>
        </a>
      </ul>
    </div>
    <div class="col-md-8">
      <div id="mapCanvas" class="half"></div>
    </div>
  </div>
</div>
